<!-- Header
        ============================================= -->
        <header id="header" class="transparent-header full-header" data-sticky-class="not-dark">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="index.html" class="standard-logo" data-dark-logo="/images/logo-dark.png"><img src="/images/logo.png" alt="Journey of Birth Logo"></a>
                        <a href="index.html" class="retina-logo" data-dark-logo="/images/logo-dark@2x.png"><img src="/images/logo@2x.png" alt="Journey of Birth Logo"></a>
                    </div><!-- #logo end -->

                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu" class="dark">

                        <ul>
                            <li {{#if current}}class="current"{{/if}}><a href="/"><div>Home</div></a>
                            </li>
                            <li><a href="/about"><div>About</div></a>
                            </li>
                            <li><a href="/services"><div>Services</div></a>
                                <ul>
                                    <li><a href="shop.html"><div>Doula Maternity Support</div></a></li>
                                    <li><a href="/services/#placenta"><div>Placenta</div></a>
                                        <ul>
                                            <li><a href="shop-3.html"><div>Tinctures</div></a></li>
                                            <li><a href="shop-3-right-sidebar.html"><div>Right Sidebar</div></a></li>
                                            <li><a href="shop-3-left-sidebar.html"><div>Left Sidebar</div></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="/pricing"><div>Pricing</div></a>
                            </li>
                            <li><a href="/contact"><div>Contact</div></a>
                            </li>
                            {{!<li><a href="/blog"><div>Blog</div></a>}}
                            </li>
                        </ul>                        

                        <!-- Top Search
                        ============================================= -->
                        <div id="top-search">
                            <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                            <form action="search.html" method="get">
                                <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                            </form>
                        </div><!-- #top-search end -->

                    </nav><!-- #primary-menu end -->

                </div>

            </div>

        </header><!-- #header end -->