<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="Journey of Birth is a birth Doula service ran by Kelli Murray for the treasure coast area.">
        <meta name="author" content="Journey of Birth">
        <meta name="themeauthor" content="SemiColonWeb" />
        <!-- Stylesheets
        ============================================= -->
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
        <link rel="alternate" hreflang="en-us" href="http://journeyofbirth.apps.darinlevesque.com">
        <link href="https://fonts.googleapis.com/css?family=Calligraffitti" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
        <link rel="stylesheet" href="/css/swiper.css" type="text/css" />
        <link rel="stylesheet" href="/css/dark.css" type="text/css" />
        <link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
        <link rel="stylesheet" href="/css/animate.css" type="text/css" />
        <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />
        <link rel="stylesheet" href="/css/responsive.css" type="text/css" />
        {{#if showTests}}
        <link rel="stylesheet" href="/vendor/mocha.css">
        {{/if}}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->
        <!-- Document Title
        ============================================= -->
        <title>Journey of Birth</title>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        {{> analytics}}
    </head>
    <body class="stretched">
        <!-- Document Wrapper
        ============================================= -->
        <div id="wrapper" class="clearfix">
            {{> header}}
            {{{body}}}
            {{> footer}}
            </div><!-- #wrapper end -->
            <!-- Go To Top
            ============================================= -->
            <div id="gotoTop" class="icon-angle-up"></div>
            <!-- External JavaScripts
            ============================================= -->
            <script type="text/javascript" src="js/jquery.js"></script>
            <script type="text/javascript" src="js/plugins.js"></script>
            <!-- Footer Scripts
            ============================================= -->
            <script type="text/javascript" src="js/functions.js"></script>
            
            {{#if showTests}}
            <div id="mocha"></div>
            <script src="/vendor/mocha.js"></script>
            <script src="/vendor/chai.js"></script>
            <script>
            mocha.ui('tdd');
            var assert = chai.assert;
            </script>
            <script src="/qa/tests-global.js"></script>
            {{#if pageTestScript}}
            <script src="{{pageTestScript}}"></script>
            {{/if}}
            <script>mocha.run();</script>
            {{/if}}
        </body>
    </html>