<!DOCTYPE html>
<html dir="ltr" lang="en-US">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="author" content="SemiColonWeb" />
		<!-- Stylesheets
		============================================= -->
		<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,800|Homemade+Apple|Sahitya:400,700|Roboto:400,700|Playfair+Display:900|Alegreya+Sans:400,700,800|Nunito:400,300,700" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<link rel="stylesheet" href="/css/dark.css" type="text/css" />
		<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
		<link rel="stylesheet" href="/one-page/css/et-line.css" type="text/css" />
		<link rel="stylesheet" href="/css/animate.css" type="text/css" />
		<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />
		<!--  Pricing Tables Style  -->
		<link rel="stylesheet" href="/css/components/pricing-table.css" type="text/css" />
		<link rel="stylesheet" href="/css/responsive.css" type="text/css" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<![endif]-->
		<!-- Document Title
		============================================= -->
		<title>Pricing Tables | Journey of Birth</title>
		{{> analytics}}
	</head>
	<body data-loader="2" data-animation-in="fadeIn" data-speed-in="1500" data-animation-out="fadeOut" data-speed-out="800" class="stretched">
		<!-- Document Wrapper
		============================================= -->
		<div id="wrapper" class="clearfix">
			{{> header}}
			<!-- Page Title
			============================================= -->
			<section id="page-title">
				<div class="container clearfix">
					<h1>Pricing Tables</h1>
					<ol class="breadcrumb">
						<li><a href="/">Home</a></li>
						<li><a href="/pricing">Pricing</a></li>
					</ol>
				</div>
				</section><!-- #page-title end -->
				<!-- Content
				============================================= -->
				<section id="content">
					<div class="content-wrap">
						<div class="section notopborder nomargin">
							<div class="container clearfix">
								<div class="col_two_fifth topmargin-sm nobottommargin" style="opacity: 0;">
									<img src="/images/services/lacookies.jpg" alt="lactation cookies">
								</div>
								<div class="col_three_fifth nobottommargin col_last">
									<div class="heading-block topmargin-sm">
										<h2>Our Services</h2>
										<span>We've taken some of our most popular items and services and packaged them together for you. This way, you get more of what you love at a discounted price. Of course, our signature lactation cookies are always included when you choose a package deal.</span>
									</div>
									<p></p>
								</div>
							</div>
						</div>
						<div class="fancy-title title-dotted-border title-center">
							<h3>Packages</h3>
						</div>
						<div class="pricing bottommargin clearfix">
							<div class="col-md-3">
								<div class="pricing-box">
									<div class="pricing-title">
										<h3>Lady Love</h3>
									</div>
									<div class="pricing-price">
										<span class="price-unit">$</span>780{{!<span class="price-tenure">/mo</span>}}
									</div>
									<div class="pricing-features">
										<ul>
											<li><strong>Doula</strong> services</li>
											<li>Naked placenta encapsulation</li>
											<li>One dozen fresh baked lactation cookies</li>
											<br><br><br><br><br><br><br><br>
										</ul>
									</div>
									<div class="pricing-action">
										<a href="#" class="btn btn-danger btn-block btn-lg">Sign Up</a>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="pricing-box best-price">
									<div class="pricing-title">
										<h3>Princesss Package</h3>
										<span>Most Popular</span>
									</div>
									<div class="pricing-price">
										<span class="price-unit">$</span>805{{!<span class="price-tenure">/mo</span>}}
									</div>
									<div class="pricing-features">
										<ul>
											<li><strong>Doula</strong> services</li>
											<li>Naked placenta encapsulation</li>
											<li>One dozen fresh baked lactation cookies</li>
											<li>Two-dozen frozen lactation cookies</li>
											<br><br>
											<li><i class="icon-star3"></i>
												<i class="icon-star3"></i>
												<i class="icon-star3"></i>
												<i class="icon-star3"></i>
											<i class="icon-star3"></i></li>
											<br><br><br><br>
										</ul>
									</div>
									<div class="pricing-action">
										<a href="#" class="btn btn-danger btn-block btn-lg bgcolor border-color">Sign Up</a>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="pricing-box">
									<div class="pricing-title">
										<h3>Queen for a day</h3>
									</div>
									<div class="pricing-price">
										<span class="price-unit">$</span>885{{!<span class="price-tenure">/mo</span>}}
									</div>
									<div class="pricing-features">
										<ul>
											<li><strong>Doula</strong> services</li>
											<li>Naked placenta encapsulation</li>
											<li>Smoothie</li>
											<li>One dozen fresh baked lactation cookies</li>
											<li>Two-dozen frozen lactation cookies</li>
											<br><br><br><br><br>
										</ul>
									</div>
									<div class="pricing-action">
										<a href="#" class="btn btn-danger btn-block btn-lg">Sign Up</a>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="pricing-box">
									<div class="pricing-title">
										<h3>The Royal Treatment</h3>
									</div>
									<div class="pricing-price">
										<span class="price-unit">$</span>1,020{{!<span class="price-tenure">/mo</span>}}
									</div>
									<div class="pricing-features">
										<ul>
											<li><strong>Doula</strong> services</li>
											<li>Naked placenta encapsulation</li>
											<li>Tincture</li>
											<li>Salve</li>
											<li>Smoothie</li>
											<li>Placenta art on canvas</li>
											<li>One dozen fresh baked lactation cookies</li>
											<li>Two-dozen frozen lactation cookies</li>
										</ul>
									</div>
									<div class="pricing-action">
										<a href="#" class="btn btn-danger btn-block btn-lg">Sign Up</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					</section><!-- #content end -->
					{{> footer}}
					</div><!-- #wrapper end -->
					<!-- Go To Top
					============================================= -->
					<div id="gotoTop" class="icon-angle-up"></div>
					<!-- External JavaScripts
					============================================= -->
					<script type="text/javascript" src="/js/jquery.js"></script>
					<script type="text/javascript" src="/js/plugins.js"></script>
					<!-- Footer Scripts
					============================================= -->
					<script type="text/javascript" src="/js/functions.js"></script>
				</body>
			</html>