<div class="container">
<h1>About Journey of Birth</h1>

<blockquote>{{fortune}}</blockquote>
  

      <hr>

      <footer>
        <p>&copy; Company 2015</p>
      </footer>
    </div> <!-- /container --> 