<!-- Page Title
============================================= -->
<section id="page-title">
	<div class="container clearfix">
		<h1>Services</h1>
		<span>We provide Amazing Solutions</span>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li class="active">Services</li>
		</ol>
	</div>
	</section><!-- #page-title end -->
	<!-- Content
	============================================= -->
	<section id="content">
		<div class="content-wrap">
			<div class="container clearfix">
				<div class="col_one_third nobottommargin">
					<div class="feature-box media-box">
						<div class="fbox-media">
							<img src="images/services/1.jpg" alt="Why choose Us?">
						</div>
						<div class="fbox-desc">
							<h3>Doula Services<span class="subtitle">What is a doula anyway?</span></h3>
							<p>The word "doula" dates back to ancient Greece. Literally, a mother’s helper or servant, she is the woman who advocates for and encourages you while offering comfort and support throughout your unique Journey of Birth.</p><br>
							<a href="#doulaservices" data-lightbox="inline" class="button button-border button-rounded button-fill fill-from-bottom button-black"><span>More Information</span></a>
							<!-- Modal -->
							<div class="modal1 mfp-hide" id="doulaservices">
								<div class="block divcenter" style="background-color: #FFF; max-width: 500px;">
									<div style="padding: 50px;">
										<h3 class="center">Doula Services Explained</h3>
										<div class="accordion accordion-bg clearfix">
											<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>What does a doula do?</div>
											<div class="acc_content clearfix"><p>A doula has a different role at every birth.  For instance, a woman who labors at home will more likely need her doula to concentrate on providing comfort measures and remind her of the relaxation tools she learned. Whereas, at a hospital birth she may need to spend more time advocating for your rights, needs and desires. The one unwavering constant is that your doula with be there for you and your partner and will adjust her role depending on your individual needs.</p></div>
											<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Why do I need a doula? I have my husband/birth partner.</div>
											<div class="acc_content clearfix"><p>There is undoubtedly no connection like yours with your partner. In many cases, it was that very connection that created this child in the first place. However, there is a certain level of comfort that comes with knowing that you have a trained professional facilitating communication between you, the father-to-be and the medical professionals.</p>
											<p>The support of your doula is not intended to lessen the father's role but to encourage and support him as well as you, and to step in should he need a break. By working together, your partner and doula create an even better support team. Studies have shown that when doulas attend birth, labors are shorter with fewer complications, babies are healthier and breastfeeding comes more naturally.</p>
										</div>
										<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>As your birth doula, I will provide:</div>
										<div class="acc_content clearfix">
											<ul>
												<li>An initial, no-cost, no-obligation interview.</li>
												<li>Unlimited support via phone, text and email.</li>
												<li>Resources & information- as needed so you feel confident and prepared.</li>
												<li>A prenatal visit at your home and generally another brief third trimester visit.</li>
												<li>Physical & emotional support during labor and birth.</li>
												<li>Support for the father/birth partner.</li>
												<li>Breastfeeding assistance, for up to 2 hours following birth, if needed.</li>
												<li>Immediate 1-2 hour postpartum care.</li>
												<li>An in-home visit, usually 1-2 weeks postpartum, to reconnect with you and family, discuss your birth, and answer any questions. (Okay, okay… and maybe to hold your new little squish!)</li>
												<li>Back-up doulas- in the unlikely or unforeseen event that I am unavailable when you go into labor.</li>
											</ul>
										</div>
									</div>
									<div class="section center nomargin" style="padding: 30px;">
										<a href="#" class="button" onClick="$.magnificPopup.close();return false;">Close</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col_one_third nobottommargin">
				<div class="feature-box media-box">
					<div class="fbox-media">
						<img src="images/services/2.jpg" alt="Why choose Us?">
					</div>
					<div class="fbox-desc">
						<h3>Placenta Services<span class="subtitle">It’s Your Placenta… Own It!</span></h3>
						<p>Your placenta is an endocrine organ. It sustained life for 40(ish) weeks and it still has more to offer! If you’re wondering about all this placenta hype, take a look at some of the chemicals that it houses and their amazing healing properties…</p><br>
						
						<a href="#placentaservices" data-lightbox="inline" class="button button-border button-rounded button-fill fill-from-bottom button-black"><span>More Information</span></a>
						<!-- Modal -->
						<div class="modal1 mfp-hide" id="placentaservices">
							<div class="block divcenter" style="background-color: #FFF; max-width: 500px;">
								<div class="center" style="padding: 50px;">
									<h3>Placenta Services Explained</h3>
									<p>some of the chemicals that it houses and their amazing healing properties…
										Cortisone - combats stress and releases stores of energy
										Gammaglobulin - immune booster that aids in protection against postpartum infections
										Gonadotropin - hormone that stimulates the gonads; a precursor to estrogen, progesterone and testosterone
										Hemoglobin – helps prevent anemia by replenishing iron deficiencies
										Oxytocin - often referred to as the "love" hormone, it is also responsible for kick-starting labor. This powerful hormone is produced during breastfeeding to facilitate bonding of mother and newborn as well as to trigger postpartum contractions that help shrink the uterus back down to it’s normal size.
										Prolactin - promotes lactation (milk production)
										Prostaglandins - anti-inflammatory
										Thyroid Stimulating Hormone (TSH)- boosts energy and aids in recovery from stressful events
										Urokinase Inhibiting Factor & Factor XIII - enhances wound healing and stops bleeding
									</p>
									<div class="accordion accordion-bg clearfix">
										<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Placenta Encapsulation…</div>
										<div class="acc_content clearfix">
											<p>Placentophagy is the act of mammals eating the placenta of their young after childbirth. As humans are mammals, many cultures have done this for centuries. However, this ancient ritual of ingesting the placenta after birth has become a more mainstream practice here in this part of the world in recent years. Placenta encapsulation is a palatable way for women who are a bit timid about “eating their placenta” to do so. It's no different than taking your daily vitamin!</p>
											<p>Women lose a lot of important nutrients during birth (such as iron, protein, vitamins, and other minerals). The placenta is naturally enriched with quite a few of them. Many women have reported a significant difference- both physically and emotionally - by replenishing their system postpartum by consuming their placenta. Placenta encapsulation has been linked to reduced postpartum depression, the "baby blues", an overall boost in energy, as well as an increase in breast milk production- all due to the incredible amount of the mother's own hormones found in her placenta. Why throw that away?!</p>
											<p>We will pick up your placenta after delivery and aim to return it to you within 48 hours.  Your placenta is dehydrated, ground and encapsulated.  We finely grind it by hand using the ancient mortar and pestle technique. This method takes longer and is more physically demanding, but we believe that this timeless method eliminates electrical and magnetic energy produced by the convenient machines of today and makes for a far superior product.</p>
										</div>
										<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Placenta Tincture</div>
										<div class="acc_content clearfix">
											<p>Perhaps the lesser-known placenta medicine is the tincture- a simple alcohol base infused with a portion of your raw placenta. This is a great, long-lasting option that can be used directly by the mother for an energetic boost after her placenta pills are gone and continually for hormonal support with PMS, depression or menopause. A tincture can also be used during times of stress and illness by both the mother and child alike. (Simply dilute with some water for the youngsters.)</p>
											<p>Tinctures take approximately 6 weeks to prepare.</p>
										</div>
										<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>As your birth doula, I will provide:</div>
										<div class="acc_content clearfix">
											<ul>
												<li>An initial, no-cost, no-obligation interview.</li>
												<li>Unlimited support via phone, text and email.</li>
												<li>Resources & information- as needed so you feel confident and prepared.</li>
												<li>A prenatal visit at your home and generally another brief third trimester visit.</li>
												<li>Physical & emotional support during labor and birth.</li>
												<li>Support for the father/birth partner.</li>
												<li>Breastfeeding assistance, for up to 2 hours following birth, if needed.</li>
												<li>Immediate 1-2 hour postpartum care.</li>
												<li>An in-home visit, usually 1-2 weeks postpartum, to reconnect with you and family, discuss your birth, and answer any questions. (Okay, okay… and maybe to hold your new little squish!)</li>
												<li>Back-up doulas- in the unlikely or unforeseen event that I am unavailable when you go into labor.</li>
											</ul>
										</div>
									</div>
									<div class="section center nomargin" style="padding: 30px;">
										<a href="#" class="button" onClick="$.magnificPopup.close();return false;">Close this Modal</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col_one_third nobottommargin col_last">
				<div class="feature-box media-box">
					<div class="fbox-media">
						<img src="images/services/3.jpg" alt="Why choose Us?">
					</div>
					<div class="fbox-desc">
						<h3>What we Do.<span class="subtitle">Make our Customers Happy.</span></h3>
						<p>Porro repellat vero sapiente amet vitae quibusdam necessitatibus consectetur, labore totam. Accusamus perspiciatis asperiores labore esse ab accusantium ea modi ut.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container clearfix">
				<div class="heading-block center">
					<h2>Easy Configurable Options.</h2>
					<span>Choose from a wide array of Options for your best matched Customizations</span>
				</div>
				<div class="col_full">
					<img data-animate="fadeIn" class="aligncenter" src="images/services/macbook.png" alt="Macbook">
				</div>
				<div class="col_one_third nobottommargin">
					<div class="feature-box fbox-plain">
						<div class="fbox-icon">
							<a href="#"><i class="i-alt">1.</i></a>
						</div>
						<h3>Choose a Product.</h3>
						<p>Perferendis, nam. Eum aperiam vel animi beatae corporis dignissimos, molestias, placeat, maxime optio ipsam nostrum atque quidem.</p>
					</div>
				</div>
				<div class="col_one_third nobottommargin">
					<div class="feature-box fbox-plain">
						<div class="fbox-icon">
							<a href="#"><i class="i-alt">2.</i></a>
						</div>
						<h3>Enter Shipping Info.</h3>
						<p>Saepe qui enim at animi. Repellendus, blanditiis doloremque asperiores reprehenderit deleniti. Ipsam nam accusantium ex!</p>
					</div>
				</div>
				<div class="col_one_third nobottommargin col_last">
					<div class="feature-box fbox-plain">
						<div class="fbox-icon">
							<a href="#"><i class="i-alt">3.</i></a>
						</div>
						<h3>Complete your Payment.</h3>
						<p>Necessitatibus accusamus, inventore atque commodi, animi architecto ea sed, suscipit tempora ex deleniti quae. Consectetur, sint velit.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container clearfix">
			<div class="col_two_fifth topmargin nobottommargin" id="radarChart" style="opacity: 0;">
				<canvas id="radarChartCanvas" width="430" height="300"></canvas>
			</div>
			<div class="col_three_fifth nobottommargin col_last">
				<div class="heading-block">
					<h3>Powerful insights to help grow your business.</h3>
					<span>Reports let you easily track and analyze your product sales, orders, and payments.</span>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam excepturi quod, fuga architecto provident, cupiditate delectus voluptate eaque! Sit neque ut eum, voluptatibus odit cum dolorum ipsa voluptates inventore cumque a.</p>
				<a href="#">Learn more &rarr;</a>
			</div>
			<div class="clear"></div><div class="line"></div>
			<div class="col_three_fifth">
				<div class="heading-block">
					<h3>Advanced store statistics.</h3>
					<span>Benchmarking your website's performance helps you make great choices for your business.</span>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam excepturi quod, fuga architecto provident, cupiditate delectus voluptate eaque! Sit neque ut eum, voluptatibus odit cum dolorum ipsa voluptates inventore cumque a.</p>
				<a href="#">Learn more &rarr;</a>
			</div>
			<div class="col_two_fifth topmargin col_last" id="doughnutChart" style="opacity: 0;">
				<canvas id="doughnutChartCanvas" width="430" height="300"></canvas>
			</div>
		</div>
		<a class="button button-full center tright topmargin footer-stick">
			<div class="container clearfix">
				Need help with your Account? <strong>Start here</strong> <i class="icon-caret-right" style="top:4px;"></i>
			</div>
		</a>
	</div>
	</section><!-- #content end -->